{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="card text-bg-info mt-5">
  <img src="{{ url_for('static', filename='sande diary farm.jpg') }}" class="img-fluid" alt="..."
    style="object-fit: cover; min-height: ">
  <div class="card-img-overlay card-img-overlay d-flex flex-column justify-content-center text-center"
    style="background-color: rgba(0, 0, 0, 0.5)">
    <h2 class="card-title text-white mb-4">WELCOME TO MY DUKA</h2>
    <p class="card-text text-white px-lg-5 mx-lg-5">Your centralized platform for managing day-to-day business
      operations. This powerful system is tailored to simplify your workflow by allowing you to process sales
      quickly, track inventory accurately, and monitor customer behavior efficiently. With real-time analytics and
      organized reporting tools, you can make informed decisions that help grow your business...</p>
  </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>







{% endblock %}