{% extends "base.html" %}
{% block title %} Products {% endblock %}

{% block content %}
<div class="hero">
    <h1>DISCOVER GENUINE PRODUCTS </h1>
    <p>
        Welcome to your Point of Sale (POS) dashboard — your centralized platform for managing day-to-day business
        operations. This powerful system is tailored to simplify your workflow by allowing you to process sales quickly,
        track inventory accurately, and monitor customer behavior efficiently. With real-time analytics and organized
        reporting tools, you can make informed decisions that help grow your business. Whether you're running a retail
        store, a cafe, or a small kiosk, our POS solution empowers you to work smarter and serve customers better.
    </p>
</div>
<div class="container">
    {% for fruits in fruits%}
    <ul>
        <li>{{fruits}}</li>
    </ul>
    {% endfor %}
</div>
<div class="container">
    <form action="/add_products" method="post">
        <div class="mb-3">
            <label for="" class="form-label fw-bold">Product Name</label>
            <input type="text" class="form-control" name="p-name" id="" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label fw-bold">Buying Price</label>
            <input type="number" class="form-control" name="b-price" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label fw-bold">Selling Price</label>
            <input type="number" class="form-control" name="s-price" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label fw-bold">Stock Quantity</label>
            <input type="number" class="form-control" name="stock" id="">
        </div>
        <button type="submit" class="btn btn-primary">ADD PRODUCT</button>
    </form>
</div>

<div class="container">
    <table class="table table-striped-columns table table-hover table table-bordered">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Buying Price</th>
                <th scope="col">Selling price</th>
                <th scope="col">Stock Quantity</th>
            </tr>
        </thead>
        <tbody>
            {%for product in products%}
            <tr>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
                <td>{{product[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
</div>
{% endblock %}