{% extends "base.html" %}
{% block title %} Products {% endblock %}

{% block content %}
<div class="hero">
  <h1 class=" fw-bold text-primary">DISCOVER GENUINE PRODUCTS </h1>
  <p class="fs-3 fw-bold">
    At SANDE'S Duka, we bring you genuine goods made with quality materials,care and love. Each product is
    crafted to perfection, ensuring authencity and wholesome satisfaction. </p>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Products
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ADD PRODUCTS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/add_products" method="post">
          <div class="mb-3">
            <label for="" class="form-label fw-bold">Product Name</label>
            <input type="text" class="form-control border-box w-50" name="p-name" id="" aria-describedby="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label fw-bold">Buying Price</label>
            <input type="number" class="form-control border-box w-50" name="b-price" id="">
          </div>
          <div class="mb-3">
            <label for="" class="form-label fw-bold">Selling Price</label>
            <input type="number" class="form-control border-box w-50" name="s-price" id="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <table id="example" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling price</th>
      </tr>
    </thead>
    <tbody>
      {%for product in products%}
      <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#editModal{{product[0]}}">
            Edit product
          </button>

          <!-- Modal -->
          <div class="modal fade" id="editModal{{product[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fs-5" id="editModalLabel{{ product[0] }}">Edit Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/update_product" method="post">
                    <div class="mb-3">
                      <input type="hidden" value="{{ product[0] }}" id="productID{{ product[0] }}" name="pid">
                    </div>
                    <div class="mb-3">
                      <label for="productName" class="form-label">ProductName</label>
                      <input type="text" value="{{ product[1] }}" id="productName{{ product[0] }}" name="name">
                    </div>
                    <div class="mb-3">
                      <label for="BuyingPrice" class="form-label">Buying Price</label>
                      <input type="number" value="{{ product[2] }}" id="buyingPrice{{ product[0] }}"
                        name="buying_price">
                    </div>
                    <div class="mb-3">
                      <label for="SellingPrice" class="form-label">Selling Price</label>
                      <input type="number" value="{{ product[3] }}" id="sellingPrice{{ product[0] }}"
                        name="selling_price">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Edit Product</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}