{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="container align-center">
    <form action="/Register" method="post">
        <label for="" class="fw-bold">Full name:</label><br>
        <input type="text" name="name"><br>
        <label for="" class="fw-bold">Email_address:</label><br>
        <input type="email" name="email"><br>
        <label for="" class="fw-bold">Phone_Number:</label><br>
        <input type="tel" name="phone"><br>
        <label for="" class="fw-bold">Password:</label><br>
        <input type="password" name="pass"><br>
        <div class="">
            <input type="checkbox" class="form-check-input mt-3" id="exampleCheck1">
            <label class="form-check-label mt-3" for="exampleCheck1">Check me out</label>
        </div>
        <input type="submit" class="btn btn-primary mt-3" value="Register">
        <div class="container signin mt-4">
            <p>Already have an account? <a href="#">log in</a>.</p>
        </div>
    </form>
</div>

{% endblock %}